.about .container{
  display: flex;
}

.about__img-list-item:not(:last-child){
margin-right: 30px;
}
.about__right-side{
  padding-left: 64px; 
  width:555px;
}
.about__img-list{
  display: flex;
}

.about .description{
margin-bottom: 20px;
}


.about__right-side-descryption{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.857;
    letter-spacing: 0.02em;
    color: #555555;
    margin-bottom: 40px;
}