.barbers{
  background-color: #F7F7F7;
}
.barbers .secondary{
  margin-bottom: 44px;
}
.barbers-list{
  display: flex;
  justify-content: space-between;
}
.barbers-list-photo{
  margin-bottom: 40px;
}
.barbers-list-name{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.389;
    text-align: center;
    letter-spacing: 0.02em;
    color: #303030;
    margin-bottom: 8px;
    }

.barbers-list-job{  
    margin-top: 8px;
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.357;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-color);
    margin-bottom: 30px;
  }