.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 500ms linear;
}
.backdrop.is-hidden{
  transition: all 500ms linear;
}

.backdrop.is-hidden .modal{
  transform: translate(-50%, -50%) scale(0);
  transition: all 500ms linear 0ms;
}