
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 528px;
  min-height: 581px;
  background-color: #fff;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  padding: 40px;
}
.modal-form {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.modal-form-policy-text::before{
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #000;
  outline: 1px solid #000;

}
.modal-form-policy:checked + .modal-form-policy-text::before {
  background-color: var(--main-color);
  border: none;
  border: 3px solid #fff;
   background-image: url(../images/Vector.svg);
  transition: 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }